{% extends "base.html" %}

{% block content %}
{% load static %}


<form method="post" action="{% url 'home' %}">
  {% csrf_token %}
  <label for="url">URL:</label>
  <input type="text" name="url" id="url">
  <input type="submit" value="Add Tag">
</form>

    
<div id="tags_table">
  <table>
      <thead>
        <tr>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for tag in lis %}
        <tr>
          <td><a href="{% url 'tag' tag.pk %}">{{ tag.url }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
</div>

    {% endblock %}