{% extends "base2.html" %}
<script>
  function submitForm(event) {
    event.preventDefault(); // Prevent form submission
    document.getElementById("nav-form").style.display = "none"; // Hide form
  }
  </script>
{% block content %}
{% load static %}
{% load bootstrap4 %}

<div class="m-3" >

<div class="row pt-3 ms-1 me-1">
  <div class="col">
    
  <form method="post" class="col"  action="{% url 'pktag' pk %}">
    <h3>Tag</h3>
      {% csrf_token %}
      <label for="element" class="mb-1">Element:</label>
      <input type="text" name="element" id="element" class="form-control mb-3">
      <label for="attribute" class="mb-1">Attribute:</label>
      <input type="text" name="attribute" id="attribute" class="form-control mb-3">
      <label for="title" class="mb-1">Title:</label>
      <input type="text" name="title" id="title" class="form-control mb-3">
      <label for="value" class="mb-1">Value:</label>
      <input type="text" name="value" id="value" class="form-control mb-3">
      <button type="submit" class="btn btn-primary">Add Tag</button>
  </form>
</div>

<div class="col">
  
  <form method="post" class="col" id="nav-form" onsubmit="submitForm(event)" action="{% url 'pktag' pk %}">
    <h3>Navigation</h3>
      {% csrf_token %}
      <label for="navelement" class="mb-1">Element:</label>
      <input type="text" name="navelement" id="navelement" class="form-control mb-3">
      <label for="navattribute" class="mb-1">Attribute:</label>
      <input type="text" name="navattribute" id="navattribute" class="form-control mb-3">
      <label for="navtitle" class="mb-1">Title:</label>
      <input type="text" name="navtitle" id="navtitle" class="form-control mb-3">
      <label for="navvalue" class="mb-1">Value:</label>
      <input type="text" name="navvalue" id="navvalue" class="form-control mb-3">
    <button type="submit" class="btn btn-primary" onclick="hideForm(); return false;">Add Nav</button>
  </form>
</div>
</div>

<div class="pt-3">
<div id="tags_table" class="m-3">
  <h3>Navigation</h3><hr>
<table  class="table table-bordered table-light table-hover mt-3">
  <thead>
    <tr>
      <th>Nav Element</th>
      <th>Nav Attribute</th>
      <th>Nav Title</th>
      <th>Nav Value</th>
      <th>Nav Value</th>
    </tr>
  </thead>
  <tbody>
    {% for navurl in navurls %}
      <tr>
        <td>{{ navurl.navelement }}</td>
        <td>{{ navurl.navattribute }}</td>
        <td>{{ navurl.navtitle }}</td>
        <td>{{ navurl.navvalue }}</td>
        <td>
          <form action="{% url 'delete_navurl' navurl.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="submit" value="delete" class="btn btn-outline-danger">
          </form>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>


<div id="tags_table" class="m-3">
  <h3>Tags</h3><hr>
    <table  class="table table-bordered table-light table-hover">
        <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Title</th>
            <th>Value</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for tag in taglis %}
          <tr>
            <td>{{ tag.element }}</td>
            <td>{{ tag.attribute }}</td>
            <td>{{ tag.title }}</td>
            <td>{{ tag.value }}</td>
            <td>
              <form action="{% url 'delete_tag' tag.id %}" method="POST" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="delete" class="btn btn-outline-danger">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <form method="post" action="{% url 'pkresult' pk %}">
          {% csrf_token %}
          <input type="submit" value="Generate" class="btn btn-primary" >
        </form>
      
      </div>
</div>

</div>
</div>

{% endblock %}